.slideBox { min-width: 1100px; width: 100%; overflow: hidden; position: relative; }

.searchBox { position: absolute; z-index: 99; top: 106px; right: 10%; width: 400px; height: 230px; background-image: url("../images/index/searchbg.png"); }

.index_input_01, .index_input_02 { height: 42px; margin-top: 46px; clear: both; }
.index_input_01 .input_before, .index_input_02 .input_before { color: #ffffff; font-size: 16px; line-height: 42px; width: 50px; text-align: right; float: left; }
.index_input_01 .inputbox, .index_input_02 .inputbox { width: 315px; height: 42px; background-image: url("../images/index/inputbg1.jpg"); float: left; margin-left: 10px; }
.index_input_01 .inputbox input, .index_input_02 .inputbox input { font-size: 16px; color: #333333; padding: 12px 0px; border: 0 none; margin-left: 10px; width: 260px; padding-right: 45px; background: none; }

.index_input_02 { margin-top: 10px; }
.index_input_02 .inputbox { background-image: url("../images/index/inputbg2.jpg"); }

.searchBtn { font-family: "microsoft yaihei"; width: 190px; height: 42px; display: block; clear: both; margin: 10px auto; line-height: 42px; font-size: 16px; color: #ffffff; text-align: center; background-color: #fe8585; border-radius: 10px; }
.searchBtn:hover { background-color: #ee7d7d; color: #ffffff; text-decoration: none; }
